body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eaeaea;
    color: #333;
}

header {
    background-color: #333;
            color: #fff;
    padding: 1em;
    text-align: center;
}

nav {
    background-color: #444;
    color: #fff;
    padding: 1em;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 1em;
    margin: 0 1em;
}

main {
    max-width: 800px;
    margin: 2em auto;
    padding: 2em;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

main::after {
    content: '\2190'; /* Unicode arrow left character */
    font-size: 2em;
    color: #555;
    position: absolute;
    bottom: 10px;
    left: 10px;
    cursor: pointer;
}

main::before {
    content: '\2192'; /* Unicode arrow right character */
    font-size: 2em;
    color: #555;
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}